---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
---

<Layout title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<Header></Header>
	<main>
		<section>
			<h4></h4>
			<p></p>
			<h6></h6>
			<p></p>
			<h6></h6>
			<p></p>
			<h6></h6>
			<p></p>

			<img src="" alt="">
		</section>
	</main>
	<Footer></Footer>	
	
</Layout>