---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import {Image} from 'astro:assets'
import ElementaryImg from '../../images/complements/ElementarySchool.webp'
import PhilosophyImg from '../../images/complements/philosophy.webp'
---

<Layout title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<Header></Header>
	<main>
		<section  class="pt-20 pb-12 text-[#266388]">
			<h4 class="text-4xl  font-extrabold py-8 text-center">PRIMARIA | <strong>C.C.T.12PPR04116D</strong></h4>
			<article class="flex flex-col md:flex-row w-full py-8 items-center justify-center">
				<div class="w-full mt-8 md:mt-0 bg-[#3aa0cd]/20 md:w-6/12 px-10 py-16">
					<span class="text-justify mt-2 font-semibold text-2xl">Acompañamiento a nuestros estudiantes</span>
					<p class="mt-3">Nuestro plan de estudios equilibra el desarrollo de habilidades intelectuales con el fortalecimiento de valores y el trabajo colaborativo.</p>
				</div>
				<img src={PhilosophyImg.src} class="w-11/12 md:w-5/12 h-60 rounded-lg object-cover">
				<div class="hidden md:block w-1/12 bg-[#3aa0cd]/20 h-52">
					<br>
				   </div>
			</article>

			<article class="bg-[#3aa0cd]/20 py-12 flex flex-col gap-5 items-center justify-center text-justify">
				<span class="text-justify mt-2 font-semibold text-2xl">Pensamiento critico y creatividad</span>	
				<p class="block w-10/12 mx-auto text-justify mt-2">Nuestra primaria busca fortalecer el pensamiento crítico, la creatividad y la independencia de los estudiantes. Con un enfoque en lectoescritura, matemáticas y el uso de la tecnología, brindamos una educación que forma a los niños para enfrentar los retos del futuro. Contamos con aulas equipadas, un entorno seguro y un equipo docente comprometido con el desarrollo integral de los alumnos.</p>
				<p class="block w-10/12 mx-auto text-justify mt-2">promovemos el pensamiento crítico, la resolución de problemas y la creatividad a través de asignaturas como Lenguaje, Matemáticas, Ciencias Naturales, Formación Cívica y Ética, Educación Física y Artes. 
					Asimismo, impulsamos el uso de herramientas tecnológicas y estrategias innovadoras para que nuestros alumnos adquieran un aprendizaje significativo y se preparen para los retos de la educación secundaria.</p>
			</article>

			<article class="flex flex-col md:flex-row w-full py-8 items-center justify-center">
				<div class="hidden md:block w-1/12 bg-[#3aa0cd]/20 h-52">
					<br>
				   </div>
				<img src={ElementaryImg.src}  class="w-11/12 md:w-5/12 h-60 rounded-lg object-cover">
				<div class="w-full  mt-8 md:mt-0 bg-[#3aa0cd]/20 md:w-6/12 px-10 py-16">
					<span class="text-justify mt-2 font-semibold text-2xl">Aprendizaje diferenciado</span>
					<p class="mt-3">A lo largo de esta etapa, brindamos un ambiente inclusivo donde cada estudiante recibe apoyo según su ritmo de aprendizaje.</p>
				</div>
			</article>

			<article class="bg-[#3aa0cd]/20 py-12 flex flex-col gap-5 items-center justify-center text-justify">
				<span class="md:text-justify mt-2 font-semibold text-2xl px-4 text-center">Desarrollo en cuerpo, alma y espiritu</span>
				<p class="block w-10/12 mx-auto text-justify mt-2">Nuestro programa integra herramientas digitales, metodologías activas y una formación basada en valores para fortalecer la responsabilidad, el respeto y la colaboración. Además, impulsamos el desarrollo artístico, deportivo y científico a través de talleres extracurriculares que enriquecen su formación académica y personal.</p>
			</article>

		</section>
	</main>
	<Footer></Footer>	
	
</Layout>