---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
---

<Layout title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<Header></Header>
	<main>
		<section  class="pt-20 pb-12 w-10/12 mx-auto text-[#266388]">
			<h4 class="text-3xl  font-extrabold py-8 text-center">PRIMARIA | <strong>C.C.T.12PPR04116D</strong></h4>
			<p class="text-justify mt-2">En Primaria, acompañamos a nuestros estudiantes en una etapa clave de su formación académica y personal. Nuestro plan de estudios equilibra el desarrollo de habilidades intelectuales con el fortalecimiento de valores y el trabajo colaborativo.</p>
			<p class="text-justify mt-2">Siguiendo el enfoque de la Nueva Escuela Mexicana, promovemos el pensamiento crítico, la resolución de problemas y la creatividad a través de asignaturas como Lenguaje, Matemáticas, Ciencias Naturales, Formación Cívica y Ética, Educación Física y Artes. 
				Asimismo, impulsamos el uso de herramientas tecnológicas y estrategias innovadoras para que nuestros alumnos adquieran un aprendizaje significativo y se preparen para los retos de la educación secundaria.
			</p>
			<img src="" alt="">
		</section>
	</main>
	<Footer></Footer>	
	
</Layout>