---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import {Image} from 'astro:assets'
import Philosophy from '../images/complements/philosophy.webp'
---

<Layout title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<Header></Header>
	<main>
		<section  class="pt-20 pb-12 text-[#266388]">
			<h4 class="text-4xl  font-extrabold py-8 text-center">PREESCOLAR</h4>

			<article class="flex flex-col md:flex-row w-full py-8 items-center justify-center">
				<div class="hidden md:block w-1/12 bg-[#3aa0cd]/20 h-52">
					<br>
				</div>
				<img src="/src/images/complements/Preescholaar.webp"  class="w-11/12 md:w-5/12 h-60 rounded-lg object-cover">
				<div class="w-full  mt-8 md:mt-0 bg-[#3aa0cd]/20 md:w-6/12 px-10 py-16">
					<span class="text-justify mt-2 font-semibold text-2xl">Ambiente seguro, estimulante y afectivo </span>
					<p class="mt-3">En nuestros espacios los niños desarrollan sus habilidades sociales, cognitivas y emocionales a través del juego, la exploración y la creatividad.</p>
				</div>
			</article>

			<article class="bg-[#3aa0cd]/20 py-12 flex flex-col gap-5 items-center justify-center text-justify">
				<span class="text-justify mt-2 font-semibold text-2xl">Un enfoque basado en valores</span>	
				<p class="block w-10/12 mx-auto text-justify mt-2">Mediante actividades lúdicas, arte, música y experimentación, los niños desarrollan sus primeros conocimientos en comunicación, pensamiento matemático y motricidad.
					Además, fomentamos la curiosidad y el amor por el aprendizaje, fortaleciendo su autoestima y autonomía para que inicien su camino educativo con confianza y entusiasmo.	</p>
				<p class="block w-10/12 mx-auto text-justify mt-2">Nuestro programa incorpora estrategias que estimulan la curiosidad natural de los pequeños, permitiéndoles descubrir el mundo a través de actividades sensoriales, musicales, artísticas y de movimiento. Buscamos que cada niño desarrolle seguridad en sí mismo y adquiera hábitos de convivencia esenciales para su crecimiento.</p>

			</article>

			<article class="flex flex-col md:flex-row w-full py-8 items-center justify-center">
				<div class="w-full mt-8 md:mt-0 bg-[#3aa0cd]/20 md:w-6/12 px-10 py-8">
					<span class="text-justify mt-2 font-semibold text-2xl">Aprendizaje estructurado con espacios de juego libre</span>
					<p class="mt-3">En nuestro nivel de preescolar, combinamos el aprendizaje estructurado con espacios de juego libre para crear un equilibrio entre la enseñanza guiada y la exploración espontánea.</p>
				</div>
				<img src="/src/images/complements/preescholaar2.webp"  class="w-11/12 md:w-5/12 h-60 rounded-lg object-cover">
				<div class="hidden md:block w-1/12 bg-[#3aa0cd]/20 h-52">
					<br>
				</div>
			</article>

			<article class="bg-[#3aa0cd]/20 py-12 flex flex-col gap-5 items-center justify-center text-justify">
				<span class="text-justify mt-2 font-semibold text-2xl">Momentos de aprendizaje</span>
				<p class="block w-10/12 mx-auto text-justify">La jornada escolar se organiza en bloques cortos que combinan momentos de aprendizaje estructurado con espacios de juego libre. Además, implementamos estrategias para fortalecer el desarrollo del lenguaje, la motricidad fina y gruesa, y la autonomía en las actividades diarias. Nuestro objetivo es preparar a los pequeños para el siguiente nivel educativo en un ambiente lleno de afecto y seguridad</p>
				<p class="block w-10/12 mx-auto text-justify"> Actualmente, la clave de centro de trabajo está en trámite, lo que significa que estamos en proceso de validación ante las autoridades educativas para ofrecer un servicio con respaldo oficial.</p>
			</article>
			<img src="" alt="">
		</section>
	</main>
	<Footer></Footer>	
	
</Layout>