---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import KnowUs from '../components/Know-Us.astro';
import IntegralEducation from '../components/Integral-Education.astro';
import GraduateProfile from '../components/Graduate-Profile.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';


---

<Layout  title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<Header></Header>
	<main>
		<Home></Home>
		<KnowUs></KnowUs>
		<IntegralEducation></IntegralEducation>  
		<GraduateProfile></GraduateProfile>
	</main>
	<Footer></Footer>	
	
</Layout>

