---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout  title="Colegio Crica A. C. - Educar en integridad para servir con excelencia. | Colegio privado con principios cristianos en Chilpancingo de los Bravo, Guerrero.">
	<main class="">
		<section class="w-full h-screen flex items-center justify-center bg-[#f2f9fd]">
			<article class="max-w-lg w-full text-[#266388] border-[#266388] border-2 rounded-lg py-20 px-10">
                <h1 class="text-5xl font-extrabold">¡Gracias por contactarnos!</h1>
                <p class="py-4 text-justify">Hemos recibido tu solicitud y nos pondremos en contacto contigo lo más pronto posible. Si tienes alguna pregunta adicional, no dudes en escribirnos.</p>
                <a href="/colegio-crica/" class="bg-[#266388] mt-4 py-1 px-4 rounded-sm text-[#f2f9fd]">Regresar al inicio</a>
			</article>
		</section>
	</main>		
</Layout>