---

---

<footer class="bg-[#266388] text-[#f9fbfb] py-10">
    <article class="flex">
        <div class="w-1/4">

        </div>
        <div class="w-1/4 ">
            <span class="font-extrabold text-xl">Sitios de interes</span>
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
        </div>
        <div class="w-1/4">
            <span class="font-extrabold text-xl">Redes sociales</span>
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
        </div>
        <div class="w-1/4">
            <span class="font-extrabold text-xl">Contacto</span>
            <ul>
                <li> </li>
                <li> <p>ColegioCrica@gmail.com</p></li>
                <li><p>C. Eleuterio Catalán Memije 5, Zona Sin Asignación de Nombre de Col 23, 39095 Chilpancingo de los Bravo, Gro.ColegioCrica@gmail.com</p></li>
            </ul>
        </div>
    </article>
</footer>