---
import Facebook from "./icons/Facebook.astro"
import Instagram from "./icons/Instagram.astro"
import Whatsapp from "./icons/Whatsapp.astro"
---

<footer class="bg-[#266388] text-[#f9fbfb] py-10">
    <article class="flex">
        <div class="w-1/4">

        </div>
        <div class="w-1/4 ">
            <span class="font-extrabold text-xl">Sitios de interes</span>
            <ul class="flex flex-col gap-3 mt-4">
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
        </div>
        <div class="w-1/4">
            <span class="font-extrabold text-xl">Redes sociales</span>
            <ul class="flex flex-col gap-3 mt-4">
                <li><a class="flex gap-2" href="https://www.facebook.com/colegiocrica?locale=es_LA" target="_blank"><Facebook></Facebook> Colegio Crica A.C.</a> </li>
                <li><a class="flex gap-2" href="https://www.instagram.com/colegiocrica.10/?hl=es" target="_blank"><Instagram></Instagram> @colegiocrica.10</a> </li>
                <li><a class="flex gap-2" href="https://wa.me/15551234567" target="_blank"><Whatsapp></Whatsapp>747 19 29 129</a> </li>
            </ul>
        </div>
        <div class="w-1/4">
            <span class="font-extrabold text-xl">Contacto</span>
            <ul class="flex flex-col gap-3 mt-4">
                <li> <p>ColegioCrica@gmail.com</p></li>
                <li><p>C. Eleuterio Catalán Memije 5, Zona Sin Asignación de Nombre de Col 23, 39095 Chilpancingo de los Bravo, Gro.ColegioCrica@gmail.com</p></li>
            </ul>
        </div>
    </article>
</footer>