---

import {Image} from 'astro:assets'
import BGHome from '../images/bg-home.webp'
import School from '../components/icons/School.astro'
---

<section class="w-full h-full flex">
    <div class="w-7/12 h-screen flex items-center">
        <div class="flex flex-col items-start justify-center pl-10 bg-[#3aa0cd]/20 w-full py-10 text-[#266388]">
            <h1 class="text-5xl font-extrabold">EDUCAR EN INTEGRIDAD PARA SERVIR CON EXCELENCIA</h1>
            <span class="text-2xl mt-3 w-4/5 font-semibold">Enseñanza, visión y conducta en principios y valores cristianos.</span>
            <a href="" class="flex gap-2 mt-4 py-1 px-2 hover:bg-[#f9fbfb] hover:text-[#217aa1] bg-[#217aa1]  text-[#f9fbfb] transition-all rounded-md font-medium"> <School class="rotate-90"></School>  Inscribirme</a>
        </div>
    </div>
    
    <img src={BGHome.src} alt="Imagen edificio principal del Colegio Crica en Chilpancingo, Guerrero" class="w-5/12 rounded-l-3xl h-screen object-cover object-left-top">

</section>