---
const ITEMS_INTEGRAL_EDUCATION = [
    {
        name:"Principios cristianos",
        description: "",
        urlImage: "src/images/complements/christianPrincipies.webp",
        descriptionImage: "",
    },
    {
        name:"Talleres artísticos y deportivos",
        description: "Talleres depportivos",
        urlImage: "src/images/complements/futbol.webp",
        descriptionImage: "Imagen de talleres deportivos en el colegio crica.",
    },
    {
        name:"Educación financiera",
        description: "",
        urlImage: "src/images/complements/",
        descriptionImage: "",
    },
    {
        name:"Lenguas extranjeras",
        description: "",
        urlImage: "src/images/complements/",
        descriptionImage: "",
    },
]
import ItemIntegralEducation from "./Item-Integral-Education.astro"
import Modal from "./Modal.astro"
---

<secton class="my-32">
    <h2 class="font-extrabold text-5xl my-4 text-[#266388] text-center">EDUCACIÓN INTEGRAL</h2>

    <article class="flex py-5 items-center w-full mx-auto">
        <div class="bg-[#3aa0cd]/20 w-full h-72">
            <br>
        </div>
        <ol class="flex gap-4 w-4/5 justify-center">
            {
                ITEMS_INTEGRAL_EDUCATION.map((itemIntegralEducation)=>(
                    <li >
                        <ItemIntegralEducation {...itemIntegralEducation} >      </ItemIntegralEducation>  

                    </li>
                ))
               
            }
        </ol>       
        <div class="bg-[#3aa0cd]/20 w-full h-72">
            <br>
        </div> 
    </article>
</secton>

<Modal {ITEMS_INTEGRAL_EDUCATION[1]}></Modal>