---
export interface Props {
    name: string
    description: string
    urlIcon: string
}

const {name, description, urlIcon} = Astro.props

---

<div class="h-40 bg-[#3aa0cd]/20 rounded-md px-2 py-5 ">
    <h6 class="flex gap-2 font-semibold text-md py-2 text-md"> <img  src={urlIcon} alt="">  {name}</h6>
    <p class="text-sm text-justify">{description}</p>
</div>