---

import {Image} from 'astro:assets'
import Philosophy from '../images/complements/philosophy.webp'
---


<section class="text-[#266388] my-24 text-justify">
    <article class="w-full flex flex-col justify-center items-center gap-10 md:flex-row md:gap-0">
        <div class="hidden w-1/12 bg-[#3aa0cd]/20 h-52 md:block">
         <br>
        </div>
        <img src={Philosophy.src} alt="Imagen de las butacas de los salones de clases del Colegio Crica en Chilpancingo, Guerrero" class="w-9/12 h-60 rounded-lg object-cover md:w-5/12">
        <div class="bg-[#3aa0cd]/20 w-full px-8  py-5 md:w-6/12 md:pl-24">
            <h3 class="font-extrabold text-3xl">Valores</h3>
            <ol class="mt-4">
                <li>1. Amar a Dios.</li>
                <li>2. Amar a su familia, a la sociedad y a su país.</li>
                <li>3. Amar el deporte y las artes.</li>
                <li>4. Amar el estudio y la superación.</li>
                <li>5. Amar el dar y servir.</li>
            </ol>
        </div>
    </article>
    <article class="flex flex-col gap-8 justify-center full py-10 mt-10 md:flex-row md:gap-5 md:bg-[#3aa0cd]/20 ">
        <div class="w-full p-8 bg-[#3aa0cd]/20 md:bg-transparent md:w-6/12 md:p-0 md:pr-6">
            <h3 class="font-extrabold text-3xl">Misión</h3>
            <p class="mt-4">Proveer una educación integral basada en principios y valores que promuevan en el alumno el desarrollo de competencias para que todo su ser espíritu, alma y cuerpo sean llevados a la excelencia.</p>
        </div>
        <div class="w-full p-8 bg-[#3aa0cd]/20 md:bg-transparent md:w-4/12 md:p-0">
            <h3 class="font-extrabold text-3xl">Visión</h3>
            <p class="mt-4">Alcanzar la formación de individuos que tengan fe en Dios virtud de carácter y lleguen a la plenitud del conocimiento en todas las áreas.</p>
        </div>
    </article>
</section>