---
interface Props {
	title: string;
}

const { title } = Astro.props;
import ViewTransitions from 'astro/components/ViewTransitions.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="El Colegio Crica A. C. en Chilpancingo ofrece educación de calidad con principios cristianos,con excelencia desde preescolar hasta bachillerato. Con enfoque en formación integral, educación financiera, formación de vida, y talleres deportivos, preparamos a los estudiantes para el futuro con sólidos valores." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/Icon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
		<ViewTransitions/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
		background-color: #f2f9fd; 
		font-family: "IBM Plex Sans", sans-serif;
	}


</style>
